@model ASPDotNet_Cinema.Models.Reservation

@{
    ViewData["Title"] = "Confirmation";
}

<div>
    <h4>Reservation</h4>
    <hr />
    <h5>Your reservation has been confirmed</h5>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Screening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Screening.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
